DATABASE_URL='url'
NEXT_PUBLIC_MAILGUN='apikey'
NEXT_PUBLIC_SANDBOX='link'
NEXT_PUBLIC_URL='link'

JWT_SECRET=secret
LICENSE_SECRET=key

# Refresh Token TTLs (in milliseconds)
# 7 days = 604800000 ms, 30 days = 2592000000 ms
DEFAULT_REFRESH_TOKEN_TTL_MS=604800000
GUARD_REFRESH_TOKEN_TTL_MS=2592000000